.line {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 5px solid #FCE82F;
    position: relative;
}

.date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.location {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    
}

.details {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.resume-div{
    display: flex;
    justify-content: space-between;
}

.resume-child-div{
    display: flex;
}