/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

* {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --brandColor: #FCE82F;
}

.App {
  background-color: #000;
  padding: 50px;
}

.links {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.flx-direction-row {
  flex-direction: row !important;
}

.flx-direction-col {
  flex-direction: column !important;
}

.heroSection {
  flex-direction: column;
  justify-content: center;
}



.heroSection p {
  margin: 15px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.isHalfWidth {
  width: 50%;
}

.isHalfSize {
  width: 30%;
}

.isCenteredCenter {
  align-items: center;
}

.isCentered {
  justify-content: center;
}

.isFlexed {
  display: flex;
}

.socialLogo {
  background: var(--brandColor);
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  border-radius: 50%;
}

.socialLogo img {
  object-fit: fill;
}

.secondHeroContainer {
  position: relative;
}

.secondHeroContainer img {
  position: absolute;
}

.aboutUsContainer {
  height: max-content;
  width: 100%;
  position: relative;

}

.aboutUsImageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTextPart button {
  margin: 10px auto 0 0
}

.aboutTextPart h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.aboutTextPart p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.line {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 5px solid #FCE82F;
  position: relative;
  height: 100%;
}


.contactSection {
  align-items: center;
  justify-content: space-around;
}

.resumeSchool h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.resumeSchool h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.resumeSchool p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

}

.contactSection img {
  width: 20%;
  height: 20%;
}

.portfolio-menu a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.portfolio-menu {
  justify-content: center;
  margin: 20px;
  display: flex;
}

.portfolio-menu a:is(:active, :focus, :hover) {
  background: #FFFFFF;
  border-radius: 10px;
  color: #000000 !important;
}


.form-style-1 {
  margin: 10px auto;
  padding: 20px 12px 10px 20px;
}

input {
  height: 40px;
  border-radius: 5px;
  width: 100%;
}

.form-style-1 li {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 10px;
  width: 100%;
}

textarea {
  box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  outline: none;
  resize: none;
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.form-style-1 .field-divided {
  flex: 1;
  margin: 5px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message img {
  width: 40px;
  height: 18.21px;
}

.contact-image .message {
  width: 40px;
  height: 40px;
  left: 863px;
  top: 2694.64px;
  border-radius: 10px;
}

.contact-image h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.contact-image p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio img {
  filter: drop-shadow(1px 6px 10px rgba(0, 0, 0, 0.2));
  border-radius: 8.88984px;
}

.bars {
  display: none;
  margin: auto 0;
  cursor: pointer;
}

.bars div {
  width: 35px;
  height: 3px;
  background-color: var(--brandColor);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobileMainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobileMainNav {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  margin-top: 80px;
  width: 100%;
}

.bottomMail {
  transform: rotate(-6.26deg);
  left: 31.65%;
  right: -31.64%;
  top: 102.29%;
  bottom: -47.81%;
  margin-top: -8px;
}

.topMail {
  transform: rotate(10.26deg);
  left: 0.57%;
  right: -0.57%;
  top: 59.92%;
  bottom: -5.44%;
}

.call,
.callLogo {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}


/* media queries */
@media only screen and (min-width: 700px) {
  .aboutTextPart {
    gap: 20px;
    font-size: 1.5rem
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .about {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 700px) {
  .secondHeroContainer img {
    width: 80%;
  }

  .portfolio-menu a {
    padding: 10px 10px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio img {
    max-width: 80%;
  }

  button {
    min-width: 150px;
  }

  .mainNav {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactSection {
    justify-content: space-between;
  }

  .bars {
    display: block;
  }

  .links:is(:active, :focus, :hover) {
    color: var(--brandColor);

  }

  .heroSection h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 1140px) and (min-width: 700px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secondHeroContainer img {
    width: 80%;
  }
}